<%- include ('../../partials/heater.ejs') %>
<%- include ('../../partials/nav.ejs') %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h3>edição de artigos</h3>
        </div>
        <div class="card-body">
            <form method="POST" action="/article/upgrade">
                <input type="hidden" name="id" value="<%= articles.id %>">
                <input class="form-control" type="text" name="article" placeholder="Digite o titulo do artigo" value="<%= articles.title%>"><br>
                <textarea name="body" class="form-control" placeholder="Escreva o artigo aqui" id="article"><%- articles.body %></textarea>
                <br>
                <select name="category" id="" class="form-select" aria-label="Disabled select example">
                    
                    <% categories.forEach((category)=> { %>
                        <% if(category.id === articles.categoryId){ %>
                            <option selected><%= category.title %> </option>
                        <% } else { %>
                            <option value="<%= category.id %>"><%= category.title %></option>
                        <% } %>
                    <% }) %>
                    
                </select>
                <br>
                <button class="btn btn-primary"> Cadastrar </button>
            </form>
        </div>
    </div>
</div>
<%- include ('../../partials/footer.ejs') %>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
    language: 'pt_BR',    
    selector: '#article',  // substitua '#mytextarea' pelo seletor do seu elemento de texto
    plugins: 'image paste table emoticons advlist autolink link preview lists hr searchreplace wordcount fullscreen insertdatetime media save', 
    images_file_types: 'jpg,svg,webp',
    height: "200"
});
</script>