<%- include ('../../partials/heater.ejs') %>
<%- include ('../../partials/homenavbar.ejs', {categories: categories}) %>
<body>
    <div class="container">
        <br>

        <% result.articles.rows.forEach(article =>{ %>
            <div class="card">
                <div class="card-header">
                    <h3><%= article.title %></h3>
                </div>
                <div class="card-body">
                    <a class="btn btn-success" href="/<%= article.slug %>">Ler artigo</a>
                </div>
            </div>
            <br>
        <%})%>
        <div class="row">
            <div class="col col-12">
                <% if(result.num > 2){ %>
                    <a href="/article/page/<%= result.num - 1 %>" class="btn btn-dark">Back <<<</a>
                <% }else{%>
                    <a href="/" class="btn btn-dark">Back <<<</a>
                <% } %>

                <% if(result.next){%>
                    <a href="/article/page/<%= result.num + 1 %>" class="btn btn-dark" style="float:right">Next >>></a>
                <%}%>
            </div>
        </div>
        <br>
        
    </div>
</body>
<%- include ('../../partials/footer.ejs') %>